{
    // List of blacklisted mc mods
    "no_support_mods": [
      
    ],
    // List of staff roles
    "staff_roles": [
       
    ],
    // Pre tester role
    "pre_tester": ".",
    //support banned role
    "support_banned": ".",
    // Verdict Channel ID
    "verdict_id": ".",
    // Bot owner ID
    "owner_id": ".",
    // Bot prefix
    "prefix": "m!",
    // Server/Guild ID
    "mojo_id": ".",
    // Support forum ID
    "support_forum": ".",
    // Logs channel ID
    "log_channel": ".",
    // Bot token
    "token": "."
}